@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
  box-sizing: border-box; 
}

html, body {
  scroll-behavior: smooth; 
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Serif', serif;
  font-weight: 300;
  line-height: 1.2;
  background-color: #8ccaea;
  padding-bottom: 60px; 
}

header, section {
  width: 100%;
  max-width: 950px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
}

h1 {
  color: #333;
}

h2 {
  color: #555;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

ul {
  list-style-type: square;
}

a {
  color: #fff;
  text-decoration: none;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2e5070;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.photo {
  max-width: 100%;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}

.about p {
  text-align: justify;
  line-height: 1.5;
}

.contact-info p {
  margin: 0;
}

.intro {
    text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  background-color: #2e5070;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.education {
  font-weight: 300;
}


// About Me Page
